aniso8601==1.2.1
attrs==15.2.0
awsebcli==3.7.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
blessed==1.9.5
blinker==1.3
bs4==0.0.1
cached-property==1.3.0
cement==2.4.0
cffi==1.5.2
chardet==2.3.0
click==6.7
colorama==0.3.9
configglue==1.1.2
configobj==5.0.6
coverage==4.4.1
cryptography==1.2.3
debtags==2.0
decorator==4.0.11
defer==1.0.6
dirspec==13.10
docker==2.2.1
docker-py==1.9.0
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
duplicity==0.7.6
ecdsa==0.13
enum34==1.1.6
feedparser==5.1.3
Flask==0.12.2
Flask-RESTful==0.3.6
funcsigs==0.4
functools32==3.2.3.post2
gnureadline==6.3.3
gyp==0.1
httplib2==0.9.1
idna==2.0
ipaddress==1.0.18
ipython==5.3.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
lockfile==0.12.2
lxml==3.4.2
Mako==1.0.3
MarkupSafe==1.0
mock==1.3.0
nemo-emblems==3.2.3
netifaces==0.10.4
oauthlib==1.0.3
oneconf==0.3.9
PAM==0.4.2
paramiko==1.16.0
pathlib2==2.2.1
pathspec==0.3.3
pbr==2.0.0
pexpect==4.0.1
pickleshare==0.7.4
Pillow==3.1.2
piston-mini-client==0.7.5
ply==3.7
prompt-toolkit==1.0.14
protobuf==2.6.1
ptyprocess==0.5
py==1.4.34
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
pyinotify==0.9.6
PyJWT==1.3.0
pyOpenSSL==0.15.1
pyparted==3.10.7
pyserial==3.0.1
pysmbc==1.0.15.5
pytest==3.1.3
pytest-cov==2.5.1
pytest-sugar==0.8.0
python-apt==1.1.0b1
python-dateutil==2.6.1
python-debian==0.1.27
python-xlib==0.14
pytz==2017.2
pyxdg==0.25
PyYAML==3.11
reportlab==3.3.0
requests==2.11.1
scandir==1.5
service-identity==16.0.0
setproctitle==1.1.8
simplegeneric==0.8.1
six==1.10.0
stevedore==1.21.0
termcolor==1.1.0
texttable==0.8.8
traitlets==4.3.2
Twisted==16.0.0
urllib3==1.13.1
urwid==1.3.1
uTidylib==0.2
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
websocket-client==0.18.0
Werkzeug==0.12.2
zope.interface==4.1.3
